@page "/product/{id:int}"
@inject ProductService productService


<div class="zoom@_zoom" @onclick="ClickToZoom">

	<ProductItem Id="@_product.Id"
	Description="@_product.Description"
	ImageUrl="@_product.ImageUrl"
	Name="@_product.Name"
	Price="@_product.Price"
	>
		<h3>Specifications</h3>
		<p>
			@((MarkupString)_product.Specifications)
		</p>

	</ProductItem>
</div>

@code {
	Product _product = null;
	int _zoom = 0;

	[Parameter]
	public int Id { get; set; }

	protected override void OnInitialized()
	{
		_product = productService.GetProduct(Id);
	}

	private void ClickToZoom()
	{
		Console.WriteLine(_zoom);
		_zoom++;
		if (_zoom > 3)
			_zoom = 0;
	}
}
